* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  color: #222;
}
.navBar {
  height: 180px;
  background: #00719f;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
}

.navBar img {
  height: 40px;
  width: 180px;
  margin-left: 24px;
}
.wrapper {
  background-color: #003e5e;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.gallery img {
  width: 180px;
  border-radius: 10%;
  cursor: pointer;
  transition: transform 0.3s, filter 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
  filter: brightness(0.9);
}
