* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  color: #222;
}
.navBar {
  height: 180px;
  background: #00719f;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
}

.navBar img {
  height: 40px;
  width: 180px;
  margin-left: 24px;
}
